<div style="display: flex; justify-content: center; align-items: center; height: 80vh">
  <mat-card style="display: flex; flex-direction: column; width: 400px">
    <div style="display: flex; flex-direction: row">
      <mat-card-title style="flex: 1">Register</mat-card-title>
      <a (click)="loadLogin()">Login</a>
    </div>
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" type="text" [formControl]="$any(form.controls.username)">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" [formControl]="$any(form.controls.password)">
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Register</button>
  </mat-card>
</div>
